*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /* header */
  --bg-header: #eed8c0;
  --bg-color-btn-whatsapp: #CF7956;
  --bg-main: #F6EBDF;
  
  /* Text */
  --text-color-primary: #FFF;
  --text-color-secondary: #CF7956;
  --text-color-tertiary: #6D4E5C;
  --text-color-hero:#D79B83;
  --text-color-hero-subtitle: #EFD9C1;

  /* font */
  --font-family-01: "Playfair", serif;
  --font-family-02: "Poppins", sans-serif;
  --font-family-03: "Ubuntu", sans-serif;
  --font-family-04: "Inter", sans-serif;

  --h1-logo: 400 28px/100% var(--font-family-01);
  --hero-title: 400 40px/100% var(--font-family-01);
  --hero-subtitle: 300 16px/150% var(--font-family-03);
  --hero-btn-01: 500 14px/200% var(--font-family-03);
  --hero-bubble: 400 12px/100% var(--font-family-02);
  --main-title: 400 32px/120% var(--font-family-01);
  --main-text: 300 14px/150% var(--font-family-03);
  --main-text-02: 300 14px/125% var(--font-family-03);
}

body{
  background:black;
  width: 100vw;
  height: 100vh;
}

#content{
  background: red ;

  max-width: 375px;

  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: 
    "header"
    "hero"
    "main"
    "footer"
  ;
  align-items: center;
}

header{
  background: var(--bg-header);
  
  grid-area: header;

  max-width: 375px;
  padding: 10px 24px;

  display: flex;
  justify-content:space-between;
  align-items: center;
}

.Wrapper-logo{
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;

  >h1 {
    font: var(--h1-logo);
    color: var(--text-color-secondary);
  }
}

#hero{
  grid-area: hero;
  
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/hero/bg-hero.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  width: 100%;
  height: 100vh;
  padding: 24px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  .hero-title{
    font: var(--hero-title);
    color: var(--text-color-hero);
  }

  .hero-h1-span{
    font-style: italic;
  }

  .hero-subtitle{
    font: var(--hero-subtitle);
    color: var(--text-color-hero-subtitle);
  }
}

.wrapper-btn-hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 16px;

  margin-top: 64px;
}

.hero-whatsapp-btn {
  background: var(--bg-color-btn-whatsapp);

  width: 80%;

  color: var(--text-color-primary);
  font: var(--hero-btn-01);
  border-radius: 16px;

  padding: 8px 16px;
  border: none;

  cursor: pointer;

  .btn{
    color: var(--text-color-primary);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    .whatsapp-icon{
      width: 16px;
      height: 16px;
    }
  }
}

.hero-my-story-btn{
  width: 80%;
  padding: 8px 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  font: var(--hero-btn-01);
  border-radius: 16px;
  
  cursor: pointer;

  border-radius: 16px;
  border: 1px solid rgba(255, 250, 240, 0.10);
  background: rgba(251, 244, 244, 0.05);
  backdrop-filter: blur(4px);

  .btn{
    color: var(--text-color-primary);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 8px;

    .whatsapp-icon{
      width: 16px;
      height: 16px;
    }
  }
}

.bubble-hero{
  max-width: 230px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 8px 16px;
  gap: 4px;

  border-radius: 16px;
  border: 1px solid rgba(255, 250, 240, 0.10);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(4px);

  >.bubble-hero-img{
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }

  >span{
    color: var(--text-color-primary);
    font : var(--hero-bubble);
  }

  >hand-hero-img{
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }
}

main{
  grid-area: main;

  width: 100%;
  height: 100vh;
  /* padding: 24px; */

  display: flex;
  flex-direction: column;
  /* gap: 16px; */

  background: var(--bg-main);

}
.img-about{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
}

#about{
  padding: 24px;
  
}

.wrapper-title-about{
  display:flex;
  flex-direction: column;
  gap: 14px;
}

.main-title{
  font: var(--main-title);
  color: var(--text-color-secondary);
}

.main-title-italic{
  font-style: italic;
}

.main-text{
  font: var(--main-text);
  color: var(--text-color-tertiary);
}

.main-text-highlight{
  font-weight: 500;
  color: var(--text-color-tertiary);
}

.wrapper-feature-about{
  display: flex;
  flex-direction: column;
  /* gap: 8px; */
}

.feature-about{
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 8px;
  padding-top: 16px;

  font: var(--main-text-02);
  color: var(--text-color-tertiary);
}

