#about{
  max-width: 375px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  padding: 24px;
}

.img{
  width: 100%;
  height: 100%;
  border-radius: 50px;
  padding: 10px;
}

.img-about{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 150px;
}

.content-about{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.list-about-feature{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrapper-title{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.feature-about{
  display: flex;
  align-items: center;
  gap: 8px;
}


@media (min-width: 768px) and (max-width: 1000px) {
  #about{
    max-width: 1000px;
    padding: 64px 48px;
  }

  .content-about{
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .img{
    width: 380px;
    height: 450px;
    border-radius: 50px;
  }
  
  .img-about{
    object-fit: contain;
  }

  .list-about-feature{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: 1000px) {
  #about{
    max-width: 100%;
    padding: 64px 48px;
    gap: 64px
  }

  .content-about{
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
  }

  
  .wrapper-title{
    display: flex;
    flex-direction: row;
    gap: 36px;
    justify-content: center;
  }

  .img{
    width: 450px;
    height: 550px;
    border-radius: 50px;
  }

  .img-about{
    object-fit: contain;
  }

  .list-about-feature{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}