#feedbacks{
  width: 100%;
  height: 100%;
  padding: 48px 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.wrapper-title{
  max-width: 810px;
  display: flex;
  flex-direction: column;
}

.wrapper-feedbacks{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.card-feedback{
  width: 248px;
  height: 150px;
  background-color: var(--bg-base);
  border-radius: 16px;
  border: 1px solid rgba(30, 30, 30, 0.10);

  display: flex;
  justify-content: space-between;
  gap: 8px;
  flex-direction: column;
  padding: 16px;
}

.wrapper-user-feedback{
  display:flex;
  gap: 8px;
}

.img-user-feedback{
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.img-user-feedback img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.user-feedback{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wrapper-feedbacks {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  justify-content: center;
}

@media (min-width: 768px) and (max-width: 1000px) {
  #feedbacks{
    width: 100%;
    height: 100%;
    padding: 72px 48px;
  }
  .wrapper-feedbacks {
    grid-template-columns: repeat(3, 1fr);
  }

  .card-feedback{
    height: 220px;
  }
}

@media (min-width: 1001px) {
  #feedbacks{
    width: 100%;
    height: 100%;
    padding: 72px 48px;
  }
  .wrapper-feedbacks {
    grid-template-columns: repeat(3, 1fr);
  }

  .card-feedback{
    height: 220px;
  }
}