#feedbacks{
  max-width: 375px;
  width: 100%;
  padding: 48px 36px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subtitle-feedbacks{
  font: var(--p-04);
  color: var(--text-color-06);
}

.wrapper-feedbacks{
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 16px;
}

.card-feedback{
  width: 280px;
  background: #FFF;
  border-radius: 16px;

  font: var(--p-06);
  color: var(--text-color-06);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;

  padding: 16px;
}

.text-card-feedback{
  font: var(--p-09);
  color: var(--text-color-06);
  text-align: center;
}

.wrapper-user-feedback{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.user-feedback{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.img-user-feedback img{
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.text-user-feedback{
  font: var(--p-10);
  color: var(--text-color-06);
}

.text-02-user-feedback{
  font: var(--p-09);
  color: var(--text-color-07);
}


@media (min-width: 768px) and (max-width: 1000px) {
  #feedbacks{
    max-width: 1000px;
    padding: 64px 48px;
    gap: 32px;
  }
  
  .wrapper-feedbacks{
    flex-direction: row;
    /* flex-wrap: wrap; */
    gap: 16px;
  }
}