footer{
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--bg-04);
}  

.content-footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 24px;
  justify-content: center;
  align-items: center;
}

.footer-logo{
  width: 224px;
  height: 50px;
}

.footer-logo img {
  width: 100%;
  height:100%;
}
  
.wrapper-social-footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.social-footer{
  display: flex;
  align-items: center;
  gap: 6px;
}

.social-footer img, .social-footer svg{
  width: 18px;
  height: 18px;
}

.copyright{
  width: 100%;
  background: var(--bg-04);
  
  border-top: 1px solid var(--text-color-03);
  padding: 24px;
  color: var(--text-color-03);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



@media (min-width: 768px) and (max-width: 1000px) {
  .content-footer{
    flex-direction: row;
    justify-content: space-around;
    padding: 42px;
  }

  .footer-logo {
    width: 400px;
    height: 80px;
  }
}

@media (min-width: 1000px) {
  .content-footer{
    flex-direction: row;
    justify-content: space-around;
    padding: 84px;
  }

  .footer-logo {
    width: 400px;
    height: 80px;
  }
}