*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /* bg */
  --bg-01: #fff;
  --bg-02: #CF7956;
  --bg-03: #F7ECE0;
  --bg-04: #eed8c0;
  --bg-05: #EFD9C1;


  /* --bg-primary: #F6EBDF;
  --bg-secondary:#EFD9C1;
  --bg-tertiary: #F7ECE0;
  --bg-header: #eed8c0;
  --bg-color-btn-whatsapp: #CF7956; */

  
  /* Text */
  --text-color-01: #FFF;
  --text-color-02: #CF7956;
  --text-color-03: #6D4E5C;
  --text-color-04:#D79B83;
  --text-color-05: #EFD9C1;
  --text-color-06: #6D2E2E;
  --text-color-07: #888D84;
  

  /* font */
  --ff-01: "Playfair", serif;
  --ff-02: "Poppins", sans-serif;
  --ff-03: "Ubuntu", sans-serif;
  --ff-04: 'Inter', sans-serif;

  /* h1 */
  --h1-01: 400 28px/125% var(--ff-01);
  /*--h1-primary: 400 28px/100% var(--font-family-01);*/
  /* --h1-primary-services: 400 28px/125% var(--font-family-01); */
  --h1-02: 400 40px/100% var(--ff-01);
  /* --hero-title: 400 40px/100% var(--font-family-01); */
  --h1-03: 400 32px/120% var(--ff-01);
  /* --main-title: 400 32px/120% var(--font-family-01);*/
  --h1-04: 400 24px/100% var(--ff-01);


  /* h2 */
  --h2-01: 400 28px/100% var(--ff-01);
  /* --h1-primary-myMission: 400 24px/100% var(--font-family-01); */
  --h2-02: 400 22px/100% var(--ff-01);
  --h2-03: 400 20px/125% var(--ff-01);



  /* h3 */
  --h3-01: 300 16px/150% var(--ff-03);
  /* --hero-subtitle: 300 16px/150% var(--ff-03);*/
  --h3-02: 500 16px/125% var(--ff-03);
  /*--main-subtitle-card-service: 500 18px/125% var(--ff-03); */

  
  /* p */
  --p-01: 300 14px/125% var(--ff-03);
  /* --main-text-02: 300 14px/125% var(--font-family-03);*/

  --p-02: 300 14px/150% var(--ff-03);
  /* --main-text: 300 14px/150% var(--font-family-03); */

  --p-03: 400 14px/150% var(--ff-04);
  /*--main-text-card-service: 400 14px/150% var(--font-family-04); */

  --p-04: 500 14px/200% var(--ff-03);
  /* --hero-btn-01: 500 14px/200% var(--font-family-03); */

  --p-05: 400 12px/100% var(--ff-02);
  /* --hero-bubble: 400 12px/100% var(--font-family-02); */

  --p-06: 300 12px/125% var(--ff-02);
  --p-07: 400 12px/125% var(--ff-03);

  

  /* btn */
  --btn-01: 700 12px/150% var(--ff-04);

  /* --main-text-btn-card-service: 500 12px/150% var(--font-family-04); */
}

body{
  background: var(--bg-03);
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
}

#content{
  max-width: 375px;
  height: 100%;

  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "header"
    "hero"
    "main"
    "footer"
  ;
  align-items: center;
}

main{
  grid-area: main;

  width: 100%;

  display: flex;
  flex-direction: column;

  background: var(--bg-03);
}

#content-main{
  width: 100%;
  height: 100%;
}

.text-title, .text-title-italic {
  font: var(--h1-04);
  color: var(--text-color-02);
}

.text-title-italic{
  font-style: italic;
}

.text-italic{
  font-style: italic;
}

h1, h2, h3, p, a, span{
  font-family: inherit
}