*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /* bg */
  --bg-01: #fff;
  --bg-02: #CF7956;
  --bg-03: #F7ECE0;
  --bg-04: #eed8c0;
  --bg-05: #EFD9C1;
  --bg-06:#D79B83;
  --bg-07: #7a4f3f;
  --bg-08: #ccc;
  --bg-09:rgb(216, 6, 6);

  /* Text */
  --text-color-01: #FFF;
  --text-color-02: #CF7956;
  --text-color-03: #6D4E5C;
  --text-color-04:#D79B83;
  --text-color-05: #EFD9C1;
  --text-color-06: #6D2E2E;
  --text-color-07: #888D84;
  --text-color-08: rgba(255, 255, 255, 0.50);

  /* font */
  --ff-01: "Playfair", serif;
  --ff-02: "Poppins", sans-serif;
  --ff-03: "Ubuntu", sans-serif;
  --ff-04: 'Inter', sans-serif;


  /* font */
  --h1-01: 400 22px/100% var(--ff-01);
  --h1-02: 400 32px/100% var(--ff-01);
  --h1-03: 400 24px/100% var(--ff-01);
  /* h2 */
  --h2-01: 400 28px/100% var(--ff-01);
  /* p */
  --p-01: 300 14px/150% var(--ff-03);
  --p-02: 400 12px/100% var(--ff-03);
  --p-03: 400 14px/150% var(--ff-03);
  --p-04: 300 14px/125% var(--ff-03);
  --p-05: 500 16px/125% var(--ff-03);
  --p-06: 400 14px/150% var(--ff-04);
  --p-07: 300 16px/150% var(--ff-03);
  --p-08: 300 14px/200% var(--ff-03);
  --p-09: 300 12px/125% var(--ff-03);
  --p-10: 400 12px/125% var(--ff-03);
  --p-11: 300 10px/125% var(--ff-03);
  --p-12: 300 14px/125% var(--ff-03);
  /* btn */
  --btn-01: 500 14px/200% var(--ff-04);
  --btn-02: 700 12px/150% var(--ff-04);
}

body{
  background: var(--bg-03);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

#content{
  max-width: 375px;
  height: 100%;

  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "header"
    "hero"
    "main"
    "footer"
  ;
  align-items: center;
}

main{
  grid-area: main;
  width: 100%;

  display: flex;
  flex-direction: column;

  background: var(--bg-03);
}

#content-main{
  width: 100%;
  height: 100%;
}

.text-title, .text-title-italic {
  font: var(--h1-03);
  color: var(--text-color-02);
}

.text-title-italic{
  font-style: italic;
}

h1, h2, h3, p, a, span{
  font-family: inherit
}

@media (min-width: 768px)and (max-width: 1440px) {
  :root{
    --h1-01: 400 30px/100% var(--ff-01);
    --h1-02: 400 42px/100% var(--ff-01);
    --h1-03: 400 40px/100% var(--ff-01);

    --p-01: 300 18px/150% var(--ff-03);
    --p-04: 300 18px/125% var(--ff-03);
    --p-05: 500 20px/125% var(--ff-03);
    --p-06: 400 16px/150% var(--ff-04);
    --p-07: 300 18px/150% var(--ff-03);
    --p-08: 300 18px/200% var(--ff-03);
    --p-12: 300 16px/125% var(--ff-03);

    --btn-01: 500 16px/200% var(--ff-04);
  }
}

@media (min-width: 768px)and (max-width: 1000px) {
  #content {
    width: 100%;
    max-width: 1000px;
  }
}

@media (min-width: 1024px) {
  :root{
    --h1-01: 400 42px/100% var(--ff-01);
    --h1-02: 400 42px/100% var(--ff-01);

    --p-01: 300 18px/150% var(--ff-03);
    
  }
  
  #content {
    max-width: 1440px;
    
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "header header"
      "hero hero"
      "main main"
      "footer footer";
  }

  main {
    flex-direction: row;
    gap: 24px;
  }
}