#hero{
  width: 100%;
  height: 512px;

  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/assets/hero/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper-hero{
  width: 272px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
}

.bubble-hero{
  max-width: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  gap: 4px;
  border-radius: 16px;
  border: 1px solid rgba(255, 250, 240, 0.10);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(4px);
  color: var(--text-color-01);
}

.bubble-hero-img{
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.content-hero{
  display: flex;
  flex-direction: column;
  gap: 16px;

  max-width: 272px
}

.wrapper-btn-hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.hero-btn-01, .hero-btn-02 {
  width: 220px;
  height: 48px;

  color: var(--text-color-base);
  font-family: var(--ff-03);
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  text-decoration: none;
  cursor: pointer;
}

.hero-btn-01{
  background: var(--bg-04);
  border-radius: 16px;
  border: none;
}

.hero-btn-02{
  border-radius: 16px;
  border: 1px solid rgba(255, 250, 240, 0.10);
  background: rgba(251, 244, 244, 0.05);
  backdrop-filter: blur(4px);
}

@media (min-width: 768px) and (max-width: 1380px) {
  #hero{
    background-size: 55%;
    background-position: top right;
  }

  .wrapper-hero{
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle at 100.78% 49.9%, rgba(46, 46, 46, 0) 24.94%, #3E4745 69.41%);
    background-size: 150% 155.843%;
    background-position: 0px -1.677px;
    background-repeat: no-repeat;
    padding: 48px;
    gap: 32px;
  }

  .content-hero{
    max-width: 410px;
    gap: 24px;
  }

  .wrapper-btn-hero{
    flex-direction: row;
  }

  .hero-btn-01, .hero-btn-02 {
    width: 272px;
    height: 48px;
  }
}

@media (min-width: 1000px) {
  #hero{
    height: 100%;
    background-size: 55%;
    background-position: top right;
  }

  .wrapper-hero{
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle at 100.78% 49.9%, rgba(46, 46, 46, 0) 24.94%, #3E4745 69.41%);
    background-size: 150% 155.843%;
    background-position: 0px -1.677px;
    background-repeat: no-repeat;
    padding: 96px;
    gap: 32px;
  }

  .content-hero{
    max-width: 450px;
    gap: 24px;
  }

  .wrapper-btn-hero{
    flex-direction: row;
  }

  .hero-btn-01, .hero-btn-02 {
    width: 272px;
    height: 48px;
  }
}