#hero{
  grid-area: hero;
  
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/hero/bg-hero.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  width: 100%;
  padding: 24px 24px 48px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.bubble-hero{
  max-width: 260px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 8px 16px;
  gap: 4px;

  border-radius: 16px;
  border: 1px solid rgba(255, 250, 240, 0.10);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(4px);

  color: var(--text-color-01);
}

.bubble-hero-img{
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.hero-h1-span-hand{
  font: var(--p-05);
}

.hand-hero-img{
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.hero-title, .hero-text-italic{
  font: var(--h1-03);
  color: var(--text-color-04);

}

.hero-text-italic{
  font-style: italic;
}

.hero-text{
  font: var(--p-02);
  color: var(--text-color-05);
}

.wrapper-btn-hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  margin-top: 64px;
}

.hero-whatsapp-btn {
  width: 80%;

  background: var(--bg-02);

  color: var(--text-color-01);
  border-radius: 16px;
  border: none;
  padding: 8px 16px;
  
  cursor: pointer;
}

.hero-btn-span{
  font: var(--p-04);
}

.whatsapp-icon{
  width: 16px;
  height: 16px;
}

.hero-my-story-btn{
  width: 80%;
  padding: 8px 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  font: var(--hero-btn-01);
  border-radius: 16px;
  
  cursor: pointer;

  border-radius: 16px;
  border: 1px solid rgba(255, 250, 240, 0.10);
  background: rgba(251, 244, 244, 0.05);
  backdrop-filter: blur(4px);
}

.btn{
  color: var(--text-color-01);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.whatsapp-icon{
  width: 16px;
  height: 16px;
}