#info-video {
  position: relative;
  width: 100%;
  margin: 0 auto;
  /* overflow: hidden; */

  .text-title {
    font-size: 2rem;
    color: var(--text-color-01);
    font-family: var(--ff-01);
    font-family: 'Playfair Display';
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    text-align: center;
    padding-bottom: 12px;
  }

  .text-title-italic {
    font-style: italic;
  }

  .text-info-video {
    font-family: var(--ff-03);
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    color: var(--text-color-03);
    text-align: center;
  }

  .text-info-video-italic {
    font-style: italic;
    font-family: var(--ff-03);
    font-size: 18px;
    font-weight: 300;
    line-height: 1.8;
    color: var(--text-color-base);
    text-align: center;
  }
}

#bg-video {
  /* position: absolute; */
  height: auto;
  width: 100%;
  /* z-index: 0; */
  height: 600px;
  /* max-width: 1280px; */
  object-fit: cover;
}

#content-info-video {
  position: absolute;
  inset: 0;
  width: 100%;
  /* z-index: 1; */
  background: rgba(0, 0, 0, 0.5);
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  text-align: left;

  padding-inline: 16px;
  color: var(--text-color-03);
}


@media (height <=640px) {
  #bg-video {
    height: 100dvh;
  }
}

@media (width >=40em) {
  #info-video {
    #content-info-video {
      /* max-width: 1280px; */
      gap: 32px;
    }

    .text-title {
      font-size: 48px;
    }

    .text-info-video {
      font-size: 24px;
    }

    .text-info-video-italic {
      font-size: 24px;
    }

  }
}

@media (width >=64em) {
  #info-video {
    .wrapper-text-info {
      max-width: 1280px;
      margin-inline: auto;
    }

    .text-title {
      font-size: 48px;
      margin-bottom: 32px;
    }

    #bg-video {
      height: 800px;
    }
  }
}

/* Tablet */
/* @media (min-width: 768px) and (max-width: 1024px) {
  #content-info-video {
    padding: 72px 40px;
    text-align: center;
  }

  #content-info-video h1 {
    font-size: 32px;
  }

  .text-info-video {
    font-size: 17px;
  }

  .text-info-video-italic {
    font-size: 15px;
  }
} */

/* Desktop */
/* @media (min-width: 1025px) {
  #content-info-video {
    padding: 100px 80px;
    text-align: center;
    max-width: 100%;
    margin: auto;
  }

  #content-info-video h1 {
    font-size: 36px;
  }

  .text-info-video {
    font-size: 18px;
  }

  .text-info-video-italic {
    font-size: 16px;
  }
} */
