#infoPregnant {
  position: relative;
  width: 375px;
  max-width: 1200px;
  height: auto;
  overflow: hidden;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: 0;
}

#content-infoPregnant {
  position: relative;
  z-index: 1; 

  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: start;

  background: rgba(0, 0, 0, 0.5); 
  max-width: 100%; 
  padding: 56px 36px; 
}

.text-infoPregnant{
  font: var(--p-07);
  color: var(--text-color-05);
}

.subtitle-infoPregnant{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.text-infoPregnant-italic{
  font: var(--p-08);
  color: var(--text-color-01);

  font-style: italic;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 18px;
}

@media (min-width: 768px) and (max-width: 1000px) {
  #infoPregnant {
    width: 100%;
  }

  #content-infoPregnant{
    padding: 92px
  }

  .wrapper-text-info{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .subtitle-infoPregnant{
    text-align: center;
  }
}