#services{
  width: 100%;
  max-width: 375px;
  height: 100%;
  
  background: var(--bg-03);
}

.wrapper-myMission{
  background: var(--text-color-02);
  width: 100%;
  height: 300px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  >h1, p{
    width: 272px;
  }
}

.text-title-white, .text-title-white-italic{
  font: var(--h1-03);
  color: var(--text-color-01);
}

.text-title-white .text-title-white-italic{
  font-style: italic;
}

.text-myMission{
  font: var(--p-04);
  color: var(--text-color-05);
}

.wrapper-services{
  display: flex;
  flex-direction: column;
  gap: 16px; 
  padding: 24px;

  width: 100%;
  max-width: 375px;
  height: 100%;
}

.wrapper-card-service{
  border-radius: 16px 16px 0px 0px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card-service{
  display: flex;
  flex-direction: column;
  gap: 16px;

  border-radius: 16px;
  padding: 0 0 16px 0;

  background: var(--bg-05);
}

.title-text-card-service{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.text-card-service{
  font: var(--p-06);
  color: var(--text-color-06);
  width: 200px;
  margin-left: 16px;
}

.subtitle-card-service{
  font: var(--p-05);
  color: var(--text-color-02);
}

.btn-card-service{
  width: 122px;
  height: 34px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-left: 16px;
  border-radius: 16px;

  text-decoration: none;
  background: var(--bg-02); 

  >span{
    color: var(--text-color-05);
    font: var(--btn-02);
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  #services{
    max-width: 1000px;
  }

  .wrapper-myMission{
    >h1, p{
      width: 768px;
    }
  }

  .text-title-white, .text-title-white-italic{
    font: var(--h1-03);
  }

  .text-card-service{
    width: 270px;
  }

  .text-myMission{
    font: var(--p-01);
  }

  .wrapper-services{
    max-width: 1000px;
    padding: 48px;
    gap: 32px;

    >h1{
      text-align: center;
    }
  }

  .wrapper-card-service{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
}

@media (min-width: 1024px) {
  
}