#services {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--bg-04);

  .icon-services {
    width: 100%;
  }
}

.text-title-white,
.text-title-white-italic {
  color: var(--text-color-base);
  font-family: var(--ff-01);
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.italic {
  font-style: italic;
}

.text-info-services {
  color: var(--text-color-03);
  font-family: var(--ff-03);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}

.info-services {
  width: 100%;
  background: var(--bg-04);
  padding: 24px 48px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  margin: auto;
}

.content-info-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.content-services {
  box-sizing: border-box;
  background: var(--bg-04);
  padding: 24px;
  max-width: 1280px;
  margin: auto;
}

.wrapper-services {
  display: flex;
  background-color: var(--bg-02);
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  gap: 16px;
  padding: 16px 8px;
  max-width: 1280px;
  margin: auto;
}

.wrapper-card-service {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  padding: 16px;
}

.card-service {
  display: flex;
  flex-direction: column;
  gap: 16px;

  border-radius: 16px;
  padding: 0 0 16px 0;
  background: var(--bg-05);
  width: 100%;
}

.wrapper-text-card {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
}

.text-card-service {
  color: var(--text-color-06);
  font-family: var(--ff-04);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  justify-self: end;
  flex: 1;
}

.btn-card-service {
  width: 150px;
  height: 46px;

  border-radius: 16px;
  background: var(--bg-04);
  color: var(--text-color-03);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  font-family: var(--ff-04);
  font-size: 14px;
  font-weight: 700;
}

/* TABLET */
@media (width >=40em) {
  #sevices {
    padding: 0 64px;
  }

  .info-services,
  .content-services {
    padding-inline: 64px;
  }

  .wrapper-card-service {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }

  .card-service {
    flex: 0 0 calc(50% - 16px);
  }

  .text-card-service {
    font-size: 1rem;
  }
}

/* DESKTOP */
@media (width >=64em) {
  .info-services {
    padding: 48px 64px;
  }

  .text-title-white {
    font-size: 2.5rem;
  }

  .text-info-services {
    font-size: 1.5rem;
    text-align: center;
  }

  .card-service {
    flex: 0 0 calc(33% - 16px);
  }
}
